## Question 1: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [1]:
import pandas as pd
import yfinance as yf
import requests
from bs4 import BeautifulSoup

In [2]:
Tesla = yf.Ticker("TSLA")
Tesla_data = Tesla.history(period='max')
Tesla_data.reset_index(inplace=True)
Tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

##  Question 2: Use Webscraping to Extract Tesla Revenue Data

Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, 'html5lib')

In [7]:
for table in soup.find_all('table'):
    if 'Tesla Quarterly Revenue' in table.find('th').text:
        print(soup.find_all(name='th'))

[<th colspan="2" style="text-align:center">Tesla Annual Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>, <th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>, <th style="text-align:center">Sector</th>, <th style="text-align:center">Industry</th>, <th style="text-align:center">Market Cap</th>, <th style="text-align:center">Revenue</th>, <th style="text-align:center; width:40%;">Stock Name</th>, <th style="text-align:center; width:20%;">Country</th>, <th style="text-align:center; width:20%;">Market Cap</th>, <th style="text-align:center; width:20%;">PE Ratio</th>, <th>Link Preview</th>, <th>HTML Code (Click to Copy)</th>, <th>Link Preview</th>, <th>HTML Code (Click to Copy)</th>]